/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: url(../images/fondobolitas.jpg) #fff;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 380px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		display: block;
		text-align: center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%; 
		-o-border-radius: 50%;
		border-radius: 50%;
		padding: 10px;
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: -13px;
		right: -13px;
		color: #fff400;
		background: #000;
		border: 3px solid #fff400;
		font-weight: bold;
		cursor: pointer;
		-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;
		}
	.reveal-modal .close-reveal-modal:hover{ border: 3px solid #000; background: #fff400; color: #000; }

	@media screen and (min-width: 980px) {
		.reveal-modal.small 		{ width: 300px; margin-left: -140px;}
		.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
		.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
		.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}

		#normal_clock{ }
		#cel_clock{visibility: hidden; height: 0px; position: absolute; top:0; right: 0;}
	}

	@media screen and (max-width: 980px) and (min-width: 768px) {		
		.reveal-modal.small 		{ width: 300px; margin-left: -140px;}
		.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
		.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
		.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
		
		.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -160px;
		width: 430px;
		background: url(../images/fondobolitas.jpg) #fff;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}


		#normal_clock{ }
		#cel_clock{visibility: hidden; height: 0px; position: absolute; top:0; right: 0;}
	}

	@media screen and (max-width: 768px) and (min-width: 376px) {

		
		.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -220px;
		width: 430px;
		background: url(../images/fondobolitas.jpg) #fff;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}

		.reveal-modal.small 		{ width: 300px; margin-left: -160px;}
		.reveal-modal.medium 		{ width: 375px; margin-left: -160px;}
		.reveal-modal.large 		{ width: 375px; margin-left: -160px;}
		.reveal-modal.xlarge 		{ width: 375px; margin-left: -16|0px;}
		#normal_clock{ }
		#cel_clock{visibility: hidden; height: 0px; position: absolute; top:0; right: 0;}

	}


	@media screen and (max-width: 375px)  {

		.reveal-modal.small 		{ width: 300px; margin-left: -160px;}
		.reveal-modal.medium 		{ width: 300px; margin-left: -160px;}
		.reveal-modal.large 		{ width: 300px; margin-left: -160px;}
		.reveal-modal.xlarge 		{ width: 300px; margin-left: -16|0px;}

		.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -160px;
		width: 300px;
		background: url(../images/fondobolitas.jpg) #fff;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}

		#normal_clock{ visibility: hidden; height: 0px; position: absolute; top:0; right: 0;}
		#cel_clock{}

	}
		
	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/

