/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,0);
		z-index: 200;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		position: absolute;
		z-index: 201;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
		.reveal-modal div{position: relative;}
		.reveal-modal div a{display: block; width: 200px; height: 25px; position: absolute; bottom: 50px; left: 300px; z-index: 200; cursor: pointer;}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -400px;}
	
	.reveal-modal .close-reveal-modal {
		display: block;
		text-align: center;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px; 
		-o-border-radius: 30px;
		border-radius: 30px;
		padding: 10px;
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: -13px;
		right: -13px;
		color: #fff400;
		background: #000;
		border: 3px solid #fff400;
		font-weight: bold;
		cursor: pointer;
		-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;
		}
		
		.reveal-modal .close-reveal-modal:hover{ border: 3px solid #000; background: #fff400; color: #000; }
		
		.reveal-modal .close-reveal-modal span{font-size: 12px; position: relative; top: -3px; margin-right: 5px;}

@media screen and (max-width: 767px)  {
	.reveal-modal.xlarge {
		width: 0px;
		margin-left: -1500px;
	}
}

	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
